<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Spring Cloud Config Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Spring Cloud Config Client</h1>
        <p th:text="'Your rate is: ' + ${rateAmount} + ', number of lanes: ' + ${lanes} + ', toll start Time is: ' + ${tollStart} "></p>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>